@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section{
    margin-bottom: 65px;
}

h1{
    font-family: 'Yeseva One', cursive;
}

.flex_container {display: flex;}

.width_50 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.width_50 img {
    width: 100%;
}

.top_area img {
    margin-top: -50px;
}

#title_area {
    font-size: 40px;
    padding-left: 3%;
    border-left: 10px solid;
    border-image: linear-gradient(#ff6859, #ff8e5a);
    border-image-slice: 1;
    margin-top: 170px;
}

.custom_color {
    color: #ff8e5a;
}

.regular_btn {
    text-decoration: none;
    background-image: linear-gradient(45deg, #ff6859, #ff8e5a);
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}