@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

section{
    margin-bottom: 65px;
}

.flex_container {display: flex;}

.width_50 {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
}

.width_50 img {
    width: 100%;
}

.top_area img {
    margin-top: -50px;
}

#title_area {
    font-family: 'Yeseva One', cursive;
    font-size: 40px;
    padding-left: 3%;
    border-left: 10px solid;
    border-image: linear-gradient(#ff6859, #ff8e5a);
    border-image-slice: 1;
    margin-top: 170px;
}

.custom_color {
    color: #ff8e5a;
}

.regular_btn {
    text-decoration: none;
    background-image: linear-gradient(45deg, #ff6859, #ff8e5a);
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
}

.section_title {
    font-size: 30px;
    text-align: center;
}

.mission_items {
    display: flex;
    margin: 0 10%;
}

.mission_item {
    width: 30%;
    margin: 0 1%;
    padding: 2%;
    text-align: justify;
    border-radius: 20px;
}

.mission_item img {
    width: 141px;
}

.mission {
    background-color: #edf5f6;
}

.vission {
    background-color: #ffeeee;
}

.goal {
    background-color: #fff4d6;
}

.developer_area {
    padding: 0 10%;
}

.community_area {
    padding: 0 10%;
}

.width_40 {
    width: 40%;
}

.width_40 img {
    width: 100%;
}

.width_60 {
    width: 50%;
    
}

.developer_details{
    margin-left: 10%;
    margin-top: 50px;
}

.community_details{
    margin-right: 10%;
    margin-top: 50px;
}

.developer_area.bg{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 230px;
    background-position: left;
}

.community_area.bg{
    background-image: url(images/shape-1.png);
    background-repeat: no-repeat;
    background-size: 230px;
    background-position: right;
}